@import '../../styles/vars.scss';

#box {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;

    #link {
        text-decoration: none;
        color: rgb(93, 132, 199);
    }
}