@import '../../styles/vars.scss';

#content {
    display: flex;
    flex-direction: column;
    gap: $gap;

    #title {
        text-align: center;
        color: $title;
    }

    #options {
        display: flex;
        gap: 1em;
        justify-content: center;
        flex-wrap: wrap;
    }

    #buttons {
        display: flex;
        justify-content: center;
    }
}